<h1>{{ActorName}}</h1>
<table border="1">
    <tr>
        <th>
            Name
        </th>
        <th>
            DOB
        </th>
        <th>
            Gender
        </th>
    </tr>
    <tr>
        <td>
            {{ActorName}}
        </td>
        <td>
            {{ActorDOB}}
        </td>
        <td>
            {{ActorGender}}
        </td>
    </tr>
</table>
