<!DOCTYPE html>
<html>

<head>
  <title>
    {{#if FilmName}}
      {{FilmName}}
    {{else}}
      {{ActorName}}
    {{/if}}
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <center>
    {{{body}}}
  </center>
</body>

</html>